<h1>Instagram</h1>
<%= form_with(scope: :login, local:true, url:logins_path)do |format| %>
  <%= format.label :email %>
  <%= format.text_field :email %>
  <%= format.label :password %>
  <%= format.password_field :password %>
  <%= format.submit "ログイン" %>
<% end %>
